.row {
    
    margin-left: -1px;
    margin-bottom: -15;
    margin-bottom: 5px;

}

#gameContainer {
    display: none;
    margin-top: 5px;
}

h1 {
    margin: 25px;
    font-family: 'Lora', serif;
}


.bean {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registerPlayers {
    text-align: center;
    margin-top: 5px;
    font-family: 'Lora', serif;
}

#registerScreen {
    padding: 25px;
}