.row {
    
    margin-left: -;
    margin-bottom: -15;
    margin-bottom: 5px;

}

#gameContainer {
    display: none;
    margin top: 5px;
}


.bean {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcomeContainer {

    
}